
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* --- footer config geral --- */
.footer {
  background-color: #ffffff;
  padding: 30px 100px 30px;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid #ddd; 
  margin-top: auto;
}


/* --- footer container --- */
.footercontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start; 
}

/* --- colunas --- */
.footercoluna {
  min-width: 250px;
}

.footercoluna h3 {
  color: #ec6b2d; 
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footercoluna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footercoluna ul li {
  margin-bottom: 8px;
  color: #666565;
  font-size: 14px;
}

.footercoluna i {
  margin-right: 5px;
}

.footercoluna p {
  font-size: 14px;
  line-height: 1.6;
  color: #666565;
}

/* --- linha divisoria (hr) --- */
.footerlinha {
  border: none;
  border-top: 1px solid rgb(207, 207, 207);
  margin: 30px 0 15px;
}

/* --- direitos resrvados skatelab --- */
.footerlicenca {
  text-align: center;
}

.footerlicenca p {
  font-size: 13px;
  color: #666565;
  margin: 0;
}
