html {
  scroll-behavior: smooth;
}

/*-----------------------------------------------*/


/*HOME - CAPA*/
#capa {
  background: url("../img/imgs-home/home-capa.svg") no-repeat center center/cover;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 5vw; /* responsivo */
  box-sizing: border-box;
}

.capa-conteudo {
  max-width: 90%;
  color: #000000;
  
}

.capa-conteudo h1 {
  font-size: clamp(2.5rem, 6vw, 90px); /* escala automática */
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 15px;
}

.capa-conteudo p {
  font-size: clamp(1rem, 2vw, 25px);
  margin-bottom: 25px;
}

.btn-saiba-mais {
  display: inline-block;
  background-color: #000000;
  color: white;
  font-weight: bold;
  padding: 0.9rem 1.8rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: clamp(0.9rem, 1.2vw, 18px);
  transition: transform 0.3s ease, background 0.3s ease;
}

.btn-saiba-mais:hover {
  background-color: #482770;
  transform: translateY(-3px);
}

/*-----------------------------------------------*/


/*HOME - BENEFICIOS*/
#beneficios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  align-items: center;
  padding: 30px 40px;
  background: #fff;
}

.beneficio-item {
  text-align: center;
  max-width: 200px;
  margin: auto;
}

.beneficio-item img {
  width: 50px;
}

/*-----------------------------------------------*/


/*HOME - CUSTOMIZAÇÃO*/
#customizacao {
  padding: 60px 5vw;
  background: #fff;
}

.customizacao-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap; /* impede de jogar a imagem para baixo */
}

.customizacao-conteudo .texto {
  flex: 1 1 45%; /* ocupa ~45% */
}

.customizacao-conteudo h2 {
  font-size: clamp(2rem, 5vw, 60px);
  font-weight: 900;
  margin-bottom: 20px;
}

.customizacao-conteudo p {
  font-size: clamp(1rem, 2vw, 25px);
  line-height: 1.5;
  margin-bottom: 25px;
}

.btn-customizacao {
  display: inline-block;
  background-color: #F3732C;
  color: white;
  font-weight: bold;
  padding: 0.9rem 1.8rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: clamp(0.9rem, 1.2vw, 16px);
  transition: transform 0.3s ease, background 0.3s ease;
}

.btn-customizacao:hover {
  background-color: #482770;
  transform: translateY(-3px);
}

.img-skate {
  flex: 1 1 50%; /* ocupa ~50% */
  display: flex;
  justify-content: center;
}

.img-skate img {
  width: 100%;
  max-width: 700px;  /* aumenta o tamanho sem quebrar layout */
  height: auto;
}

/*-----------------------------------------------*/


/*HOME - PASSOS*/
.passos {
    background-color: #482770;
    color: #fff;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 80px 5%;
}

.passo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.passo img {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.passo .numero {
    font-size: 1.7em;
    font-weight: 600;
    color: var(--laranja-principal);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.passo p {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

/*-----------------------------------------------*/


/*HOME - KITS*/
.kits {
    background-color: #fff;
    padding: 80px 5%;
    text-align: center;
}

.kits h3 {
    color: var(--roxo-escuro);
    margin-bottom: 50px;
}

.galeria-kits {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.kit {
    background-color: #fcfafa;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kit:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.kit img {
    width: 80%;
    height: auto;
    margin-bottom: 15px;
}

.nome-kit {
    font-weight: 700;
    min-height: 40px; /* Garante altura para manter alinhamento */
}

.preco-kit {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--roxo-escuro);
    margin: 10px 0 5px;
}

.parcelamento-kit {
    font-size: 0.9em;
    color: var(--cinza-escuro);
    margin-bottom: 15px;
}

.botao-ver-mais {
    background-color: #e67e00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.botao-ver-mais:hover {
    background-color: #482770;
}

.nov .botao-nov {
  display: inline-block;
  margin-top: 70px;
  background-color: #e67e00;
  color: white;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.3s ease, background 0.3s ease
}

.botao-nov:hover {
    background-color: #482770;
    transform: translateY(-3px);
}

/*-----------------------------------------------*/


/*HOME - NOVIDADES*/
.novidades {
    background: url("../img/imgs-home/img-novidades.png") no-repeat center center/cover;
    color: #ffffff;
    padding: 90px 5%;
    text-align: center;
}

.novidades h2 {
    color: #ffffff;
    font-size: 50px;
}

.novidades p {
    color: #ffffff;
    font-size: 30px;
}

.formulario-novidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 35px;
    font-size: 20px;
}

.formulario-novidades input {
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    font-size: 1em;
    border: solid 2px #000000;
    border-radius: 3px;

}

.formulario-novidades .botao-cadastrar {
    padding: 15px 40px;
    background-color: #e67e00;
    color: #fff;
    border-radius: 5%;
    transition: transform 0.3s ease, background 0.3s ease
}

.botao-cadastrar:hover {
    background-color: #482770;
    transform: translateY(-3px);
}


/*-----------------------------------------------*/


/*HOME - AVALIAÇÕES*/
.avaliacoes {
    background-color: var(--cinza-claro);
    padding: 80px 5%;
    text-align: center;
}

.avaliacoes h2 {
    color: #000000;
    margin-bottom: 50px;
}

.carrossel-avaliacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-avaliacao {
    background-color: #fcfafa;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 5px 8px #9c9b9c;
    width: 350px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-avaliacao:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-avaliacao p {
    margin-bottom: 15px;
    text-align: left;
}

.nome-avaliador {
    font-weight: 700;
    text-align: right;
    color: var(--roxo-escuro);
}

.seta {
    background: var(--roxo-escuro);
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.seta:hover {
    background-color: var(--roxo-claro);
}