* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #333;
}

.container {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    padding: 3rem;
    max-width: 3500px;
    font-family: 'poppins', sans-serif;
}

.containerdados {
    background: #ffffff;
    border-radius: 12px;
    padding: 2rem;
}

.containerdados {
    flex: 2;
    max-width: 800px;
}

.container {
    flex: 1;
    height: fit-content;
}

.containerdados h2 {
    margin-bottom: 1rem;
    color: #222;
    font-size: 1.3rem;
}

.cardcheckbox {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #555;
}

input[type="text"],
input[type="email"] {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: border 0.2s;
}

input:focus {
    border-color: #e66b1a;
    outline: none;
}

.checkboxemail {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.separarcheckbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.cardproduto {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.cardproduto img {
    width: 60px;
    border-radius: 8px;
}

.produtoinfo p {
    margin: 0.2rem 0;
}

.produtopreco {
    color: #e66b1a;
    font-weight: 600;
}

.cupomdedesconto {
    display: flex;
    gap: 0.5rem;
}

.cupomdedesconto input {
    flex: 1;
}

.cupomdedesconto button {
    background: #e66b1a;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.cupomdedesconto button:hover {
    background: #c55c13;
}

.summary-totals {
    margin-top: 1.5rem;
    font-size: 0.95rem;
}

.totalcard p {
    display: flex;
    justify-content: space-between;
    margin: 0.4rem 0;
}

.totalcard .total {
    font-weight: 600;
    color: #e66b1a;
    font-size: 1.1rem;
}

.botaopagar {
    width: 100%;
    background: #e66b1a;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.botaopagar:hover {
    background: #c55c13;
}

.textodeseguranca {
    text-align: center;
    font-size: 0.85rem;
    color: #777;
    margin-top: 0.7rem;
}

.containerdadoss {
    background: #ffffff;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.205);
    flex: 2;
    max-width: 600px;
    transition: top 0.3s ease; 
    position: sticky;
    top: 20px; 

}



/* PAGAMENTO CONTAINER */


.pagamentocontainer {
  width: 90%;
  max-width: 900px;
  text-align: center;
}

.pagamentocontainer h2 {
  font-size: 2rem;
  margin-bottom: 5px;
  margin-top: 40px;
}

 .pagamentocontainer p {
  color: #666;
  margin-bottom: 30px;
}

.opcoesdepagamento {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.opcao {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 16px;
  width: 250px;
  padding: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.opcao:hover,
.opcao.ativo {
  background: #fff4ed;
  border-color: #f97316;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.opcao i {
  font-size: 30px;
  color: #f97316;
  margin-bottom: 10px;
}

.opcao h3 {
  margin-bottom: 5px;
}

.conteudopagamento {
  display: none;
  margin-top: 30px;
  padding: 25px;
  border-radius: 16px;
  background: #fafafa;
  border: 1px solid #eee;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.pixcard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 15px;
}

.qrcode {
  background: white;
  padding: 30px;
  border-radius: 12px;
  font-size: 40px;
  border: 1px solid #eee;
}

.pixinput {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pixinput input {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-copy {
  background: #f97316;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.botaolaranja {
  background: #f97316;
  color: white;
  border: none;
  padding: 14px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.botaolaranja:hover {
  background: #e05e00;
}

.linha {
  display: flex;
  gap: 15px;
}

.linha div {
  flex: 1;
}

.conteudopagamento input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.boletocard {
  text-align: center;
}

.barcode {
  background: white;
  display: inline-block;
  padding: 30px 60px;
  border-radius: 12px;
  border: 1px solid #eee;
  font-size: 40px;
  margin-bottom: 10px;
}
