body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #333;
}

.conteudo {
  padding: 30px 50px;
}

.topo-pagina {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.topo-pagina h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}

.topo-pagina p {
  color: #6b7280;
  font-size: 18px;
}

.btn-nova-categoria {
  background-color: #5a2472;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-nova-categoria:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0 26px 8px rgba(59, 5, 85, 0.2);
  transform: translateY(-3px);
  
}

.area-categorias {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 6px 24px rgba(0,0,0,0.15);
}

.campo-busca {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.campo-busca i {
  color: #999;
  font-size: 18px;
  margin-right: 10px;
}

.input-busca {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.tabela-categorias {
  width: 100%;
  border-collapse: collapse;
}

.tabela-categorias th {
  text-align: left;
  color: #666;
  font-size: 14px;
  padding: 10px 5px;
  border-bottom: 2px solid #f3f3f3;
}

.tabela-categorias td {
  padding: 12px 5px;
  border-bottom: 1px solid #f3f3f3;
  font-size: 14px;
}

.qtd-itens {
  background: #f6f6f6;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 13px;
}

.status {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}

.status.ativo {
  background-color: #d1fae5;
  color: #10b981;
}
.status.inativo {
    background-color: #f3f4f6;
    color: #6b7280;
}

.coluna-acoes {
  display: flex;
  gap: 8px;
}

.botao-acao {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: none;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.botao-acao:hover {
  background: #e7e7e7;
}

.botao-acao i {
  font-size: 18px;
  color: #555;
}
/* ---------- Modal Nova Categoria ---------- */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-categoria {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  animation: aparecer 0.25s ease;
}

@keyframes aparecer {
  from {opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
}

.modal-categoria h2 {
  margin-top: 0;
  color: #2e1065;
}

.modal-categoria label {
  display: block;
  font-weight: 500;
  margin-top: 15px;
  color: #333;
}

.modal-categoria input,
.modal-categoria textarea {
  width: 95%;
  padding: 8px;
  margin-top: 6px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.modal-categoria input:focus,
.modal-categoria textarea:focus {
  border-color: #5a2472;
  outline: none;
}

.botoes-modal {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-cancelar,
.btn-salvar {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.btn-cancelar {
  background: #e5e5e5;
  color: #333;
}

.btn-salvar {
  background: #f97316;
  color: #fff;
}

.btn-salvar:hover {
  background: #ea580c;
}

.btn-cancelar:hover {
  background: #d4d4d4;
}


.popup-sucesso {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ffffff; /* verde */
  color: #5a2472;
  padding: 12px 18px;
  border-radius: 8px;
  box-shadow: 0 6px 24px rgba(0,0,0,0.25);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s, transform 0.4s;
  z-index: 9999;

}

.popup-sucesso.mostrar {
   opacity: 1;
  transform: translateY(0);
}


